body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    line-height: 80px;
    width: 100%;
    height: 100px;
    padding: 0px;
    float: none;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    border-bottom: 2px solid gray;

    display: flex;
    flex-direction: column;

}
main{
    margin: 0 auto;
    width: 1048px;
    padding: 10px;
    background-color: white;
    height: 1300px;
    flex: 1;
    box-shadow: 1px 2px 10px lightgray;
}
footer{
    margin: 0 auto;
    width: 100%;
    background-color: #FFBA49;
    height: 50pt;
    line-height: 50px;
    color: white;
    bottom: 0;
}
footer p{
    margin: 10px 20px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
li{
    display: inline;
}

header h1{
    float: left;
    width: 160px;
    color: #FFBA49;
    padding-left: 15px;
    font-size: 28px;
}
header li{
    float: left;
}
header li a{
    display: block;
    padding: 8px;
    width: 80px;
    text-decoration: none;
    color: gray;
}
header span a{
    display: block;
    float: right;
    padding: 1px;
    margin-top: 15px;
    padding-right: 8px;
    line-height: 40px;
}
header span a img{
    width: 65px;
    height: 55px;
    padding-right: 10px;
}

header span{
    padding:10px;
    height: 40px;
    line-height: 40px;
}








main{
    margin: 0 auto;
    width: 1200px;

}
main section.search{
    float: none;
    margin: 25px;
    
}
main section.search input{
    padding: 10px;
    width: 85%;
}
main section.search span a{
    float: right;
    padding: 10px 40px;
    background-color: #FFBA49;
    border-radius: 5px;
    color: white;
}
main section.search span a:hover{
    background-color: white;
    border: 1px solid #FFBA49;
    color: #FFBA49;
}

main section.kategori{
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    min-height: 200px;
    top: 10px;
}
main p.judul{
    padding-left: 20px;
    font-weight: bold;
}
table{
    margin-bottom: 50px;
}
main table.hes tr td {
    width: fit-content;
    padding-right: 15px;
}
main td.hes{
    width: fit-content;
    font-size: 20px;
    color: #535353;
    padding-right: 10px;
    text-align: none;
    padding-left: 20px;
}
main td.hes p{
    width: fit-content;
    font-size: 20px;
    color: white;
    padding-right: 10px;
    text-align: center;
    background-color: #FFBA49;
    margin: 10px 0px;
    padding: 10px 15px;
}
main td{
    margin-bottom: 100px;
    padding: 5px 0;
    text-align: justify;
}
main td a{
    color: #535353;
    padding-left: 20px;
}
main table.hes tr td a{
    font-size: 12px;
    padding: 0;
}

main td img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 0px;
}


main section{
    float: left;
}

main section.kategori{
    width: 300px;
}


main section.inti{
    width: 870px;
    padding-left: 20px;
    align-items: center;
    border-left: 1px solid gray;
}
section.inti ul{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
section.inti ul li a{
    padding: 0 10px;
    color: #535353;
    
}
section.inti ul li a:hover{
    color: #FFBA49;
}


section.inti img{
    width: 250px;
    height: 150px;
    border-radius: 5px;
    margin: 0;
}
section.inti article{
    margin-top: 10px;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    float: left;
    margin: 0 20px;
    margin-bottom: 30px;
}
section.inti section.Rekomendasi{
    border-top: 1px solid lightgray ;
    border-bottom: 1px solid lightgray ;
}
section.Terbaru article{
    width: 830px;
    height: 150px;
}
section.Terbaru article img{
    float: left;
}
section.Terbaru article p a{
    color: #535353;
    margin: 0;
    width: 564px;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    float: left;
    margin-top: 35px;
    
}
section.Terbaru article p{
    font-size: 12px;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    margin: 5px 0px;
    float: left;
    margin-left: 10px;
}

section.Rekomendasi article p a{
    color: #535353;
    width: fit-content;
    margin: 2px 0px;
    font-weight: normal;
    padding: 3px;
    font-size: 14px;
    text-align: justify;
    float: left;
}
section.Rekomendasi article p{
    font-size: 12px;
    width: fit-content;
    padding: 3px;
    border-radius: 2px;
    margin: 5px 0px;
    float: left;
}
section.inti article b a{
    color: white;
    background-color: #FFBA49;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 15px 50px;
    margin-top: 20px;
    float: left;
}
section.inti article b a:hover{
    background-color: white;
    border: 1px solid #FFBA49;
    color: #FFBA49;
}
p.tanggal{
    background-color: #FFBA49;
    border-radius: 2px;
    color: white;

}

table.jenis {
    width: 5px;
    padding: 5px;
}
table.jenis td{
    width: 5px;
    height: 5px;
    font-size: 10px;
}
table.jenis td a{
    margin: 0 2px;
    background-color: #FFE3B4;
    padding: 3px;
    margin-left: 8px;
    color: #535353;
    border-radius: 2px;
}











header li a:hover{
    color: rgb(255, 184, 53);
}