*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./Assets/background\ image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.judul{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
.container h1{
    font-size: 36px;
    text-align: center;
    cursor:default;
}

.container .logo{
    width: 60px;
}
.container{
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    padding: 0 10px;
    border-radius: 20px;
    border: solid 2px white;
    
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    padding: 15px;
    border: 2px solid rgba(255,255,255,0.5);
    background: transparent;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    outline: none;
    color: white;
}
.input-box input::placeholder{
    color: rgba(255,255,255,0.5);
}

.input-box i{ 
    position: absolute;
    right: 30px;
    top: 30%;
}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
    position: relative;
}
.container .remember-forgot label input{
    color: white;
    margin-right: 3px;
    margin-left: 10px;
    align-content: center;
}
.container .remember-forgot label::after{
    content: "";
    position: absolute;
    background-color: white;
    width:0;
    height: 1px;
    left: 17px;
    bottom: 0;
    outline: none;
}
.container .remember-forgot label:hover:after{
    transition: ease-out 400ms;
    width: 113px;
}
.container .remember-forgot label:hover{
    cursor: pointer;
}

.container .remember-forgot a{
    color: white;
    text-decoration: none;
    position: relative;
}
.container .remember-forgot a::after{
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: -2px;
}
.container .remember-forgot a:hover::after{
    width: 135px;
    transition: ease-out 400ms;
}

.container .log-btn{
    width: 100%;
    color: white;
    background-color: transparent;
    border: 3.5px solid white;
    cursor: pointer;
    height: 35px;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,0.2);
    font-weight: 600;
    font-size: 13px;
    outline: none;
}
.log-btn:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.5);
}
.container .register{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}
.register a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register a::after{
    position: absolute;
    content: "";
    background-color: white;
    width: 0;
    height: 1px;
    left: 243px;
    bottom: 16px;
    outline: none;
}
.register a:hover::after{
    width: 102px;
    transition: ease-in-out 400ms;
}
.ex-log{
    margin-top: 20px;
    align-items: center;
    text-align: center;
    position: relative;

}

.bxl-google,
.bxl-facebook{
    align-content: center;
    border: 1px solid white;
    width: 50px;
    height: 30px;
}
.ex-log i:hover{
    background-color: white;
    color:black;
    transition: ease 300ms;
    cursor: pointer;
}
.or{
    position: relative;
    margin-top: 10px;
    top: 11px;
    align-content: center;
    text-align: center; 
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    cursor: default;

}
.a{
    display: flex;
    width: 125px;
    float: inline-end;
}
.b{
    width: 125px;
}


